:root {
    --green: rgba(0, 128, 0, 0.616);
    font-family: sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-template: 1fr / 3fr minmax(100px, 1fr) 3fr;
    justify-items: center;
    background-color: var(--green);
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.692);
    font-size: 1.2rem;
    font-weight: bold;
    overflow: visible;
    white-space: nowrap;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    gap: 30px;
    justify-self: right;
    margin-right: 5vw;
}

header ul li {
    margin-top: auto;
    padding-bottom: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

header ul li a{
    padding-bottom: 3px;
}

a:visited {
    color: inherit;
}

header .menu a:hover,
header .menu a.active {
    border-bottom: 5px solid var(--green);
    color: white;
    cursor: pointer;
}

header .login {
    justify-self: left;
    margin-left: 10vw;
    align-self: end;
    margin-bottom: 8px;
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template: 100px auto 170px / 1fr;
}

.mainContent {
    background: linear-gradient(180deg, rgba(0, 128, 0, 0.205) 50%, rgb(255, 255, 255) 100%);
    display: flex;
    justify-content: center;
}

img.logo {
    width: 100px;
    position: relative;
    margin-bottom: -30px;
    bottom: -30px;
}

@keyframes pendulum {
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

img.logo:hover {
    animation: pendulum .8s linear;
    cursor: pointer;
}

header .login svg {
    margin-left: 7px;
}

header .login:hover {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

.footerBox {
    width: 50vw;
    border-top: 3px solid rgba(0, 0, 0, 0.281);
    display: grid;
    justify-items: center;
    padding: 30px;
    color: rgba(0, 0, 0, 0.274);
    gap: 30px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
}

.footerBox .contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    gap: 30px;
    justify-items: center;
}

.contact a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact .line-1 {
    display: block;
}

.contact .line-2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact svg {
    font-size: 2.5rem;
}

.footerBox a:hover {
    color: rgba(0, 0, 0, 0.475);
}

.contact a.phone:hover svg {
    color: rgba(35, 131, 47, 0.475);
}

.contact a.facebook:hover svg {
    color: rgba(0, 0, 255, 0.475);
}

.contact a.instagram:hover svg {
    color: rgba(255, 102, 0, 0.475);
}

.footerBox .info ul li:first-child {
    margin-bottom: 3px;
}

.mainWrapper {
    width: clamp(1000px, 60%, 1800px);
    padding: 60px;
}

.mainWrapper > .main {
    background: rgba(255, 255, 255, 0.23);
    padding: 40px;
    border-radius: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.205);
    height: 300px;
}

.card.menu {
    display: grid;

}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 38%;
}