:root {
    --green: rgba(0, 128, 0, 0.616);
    font-family: sans-serif;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

header {
    display: grid;
    grid-template: 1fr / 3fr minmax(100px, 1fr) 3fr;
    justify-items: center;
    background-color: var(--green);
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.692);
    font-size: 1.2rem;
    font-weight: bold;
    overflow: visible;
    white-space: nowrap;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    gap: 30px;
    justify-self: right;
    margin-right: 5vw;
}

header ul li {
    margin-top: auto;
    padding-bottom: 8px;
}

a {
    text-decoration: none;
    color: inherit;
}

header ul li a{
    padding-bottom: 3px;
}

a:visited {
    color: inherit;
}

header .menu a:hover,
header .menu a.active {
    border-bottom: 5px solid var(--green);
    color: white;
    cursor: pointer;
}

header .login {
    justify-self: left;
    margin-left: 10vw;
    align-self: end;
    margin-bottom: 8px;
}

#content {
    min-height: 100vh;
    display: grid;
    grid-template: 100px auto 170px / 1fr;
}

.mainContent {
    background: linear-gradient(180deg, rgba(0, 128, 0, 0.205) 50%, rgb(255, 255, 255) 100%);
    display: flex;
    justify-content: center;
}

img.logo {
    width: 100px;
    position: relative;
    margin-bottom: -30px;
    bottom: -30px;
}

@keyframes pendulum {
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

img.logo:hover {
    animation: pendulum .8s linear;
    cursor: pointer;
}

header .login svg {
    margin-left: 7px;
}

header .login:hover {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
}

.footerBox {
    width: 50vw;
    border-top: 3px solid rgba(0, 0, 0, 0.281);
    display: grid;
    justify-items: center;
    padding: 30px;
    color: rgba(0, 0, 0, 0.274);
    gap: 30px;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
}

.footerBox .contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    gap: 30px;
    justify-items: center;
}

.contact a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact .line-1 {
    display: block;
}

.contact .line-2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact svg {
    font-size: 2.5rem;
}

.footerBox a:hover {
    color: rgba(0, 0, 0, 0.475);
}

.contact a.phone:hover svg {
    color: rgba(35, 131, 47, 0.475);
}

.contact a.facebook:hover svg {
    color: rgba(0, 0, 255, 0.475);
}

.contact a.instagram:hover svg {
    color: rgba(255, 102, 0, 0.475);
}

.footerBox .info ul li:first-child {
    margin-bottom: 3px;
}

.mainWrapper {
    width: max(700px, 75%);
    padding: 60px;
}

.mainWrapper > .main {
    background: rgba(255, 255, 255, 0.23);
    padding: 40px;
    border-radius: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.205);
    height: 300px;
}

.menu .card {
    display: grid;
    grid-template: "image title" 1fr
                    "image price" 1fr 
                    "image desc" 2fr
                    / 2fr 1fr;
    gap: 15px;
    padding-right: 20px;
}

.menu img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: image;
    box-shadow: -2px -2px rgba(0, 0, 0, 0.233);
    border-radius: 5px;
}

.menu .title {
    grid-area: title;
    font-size: 1.4rem;
    margin-top: 15px;
}

.menu .desc {
    grid-area: desc;
    margin-bottom: 15px;
    align-self: end;
}

.menu .price {
    grid-area: price;
    font-weight: bold;
    font-size: 1.1rem;
}

.banner {
    background: url(./img/banner.jpg) 100%/cover;
    width: 100%;
    height: 450px;
}

.banner p {
    background-color: rgba(0, 0, 0, 0.281);
    color: white;
    font-size: 3.2rem;
    width: 450px;
    padding: 60px;
    position: relative;
    top: 10%;
    left: 10%;
    font-weight: bold;
}

*::selection {
    background: rgba(0, 0, 0, 0.281);
}

.mainContent.noFlex {
    flex-direction: column;
    justify-content: flex-start;
}

.mainWrapper {
    align-self: center;
}

.mainContent.noFlex .mainWrapper p {
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(87, 85, 85);
}

.departments .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.departments .card:hover {
    transform: scale(1.05);
}

.departments .name,
.departments .location {
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.349);
    font-weight: bold;
}

.departments .location {
    text-transform: uppercase;
}